Repository HRS0986/GrabNGo, pull requests merged in 2024-11, with the labels that each got.

#2 Feature/product service
  auth/src/main/java/com/auth/auth/repository/AuthRepository.java
  product/pom.xml
  product/src/main/java/com/product/product/ProductApplication.java
  product/src/main/java/com/product/product/controller/ProductController.java
  product/src/main/java/com/product/product/dto/ProductDto.java
  product/src/main/java/com/product/product/entity/Product.java
  product/src/main/java/com/product/product/exception/GlobalExceptionHandler.java
  product/src/main/java/com/product/product/exception/ResourceNotFoundException.java
  product/src/main/java/com/product/product/repository/ProductRepository.java
  product/src/main/java/com/product/product/response/ErrorResponse.java
  product/src/main/java/com/product/product/response/SuccessResponse.java
  product/src/main/java/com/product/product/service/ProductService.java
  product/src/main/resources/application.properties
Labels: product-service

#3 Auth Service: Implementation Completed
  auth/src/main/java/com/auth/auth/AuthApplication.java
  auth/src/main/java/com/auth/auth/config/AuthConfig.java
  auth/src/main/java/com/auth/auth/config/JwtAuthenticationFilter.java
  auth/src/main/java/com/auth/auth/config/ModelMapperConfig.java
  auth/src/main/java/com/auth/auth/config/SwaggerConfig.java
  auth/src/main/java/com/auth/auth/constants/Messages.java
  auth/src/main/java/com/auth/auth/controller/AuthController.java
  auth/src/main/java/com/auth/auth/dto/LoginRequest.java
  auth/src/main/java/com/auth/auth/dto/LoginResponse.java
  auth/src/main/java/com/auth/auth/dto/RefreshTokenRequest.java
  auth/src/main/java/com/auth/auth/dto/SignupDTO.java
  auth/src/main/java/com/auth/auth/dto/UserDTO.java
  auth/src/main/java/com/auth/auth/model/User.java
  auth/src/main/java/com/auth/auth/repository/AuthRepository.java
  auth/src/main/java/com/auth/auth/service/AuthService.java
  auth/src/main/java/com/auth/auth/service/JwtService.java
  auth/src/main/java/com/auth/auth/service/UserManagerService.java
  auth/src/main/java/com/auth/auth/utils/UserAuthDetails.java
  auth/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  auth/src/main/resources/application.properties
Labels: auth-service

#6 Feature/category service
  category/pom.xml
  category/src/main/java/com/category/category/CategoryApplication.java
  category/src/main/java/com/category/category/controller/CategoryController.java
  category/src/main/java/com/category/category/dto/CategoryDTO.java
  category/src/main/java/com/category/category/model/Category.java
  category/src/main/java/com/category/category/repo/CategoryRepo.java
  category/src/main/java/com/category/category/service/CategoryService.java
  category/src/main/resources/application.properties
Labels: category-service

#7 Forget Password
  auth/pom.xml
  auth/src/main/java/com/auth/auth/constants/Messages.java
  auth/src/main/java/com/auth/auth/controller/AuthController.java
  auth/src/main/java/com/auth/auth/dto/ResetPasswordRequest.java
  auth/src/main/java/com/auth/auth/dto/VerificationRequest.java
  auth/src/main/java/com/auth/auth/model/VerificationCode.java
  auth/src/main/java/com/auth/auth/repository/VerificationCodeRepository.java
  auth/src/main/java/com/auth/auth/service/AuthService.java
  auth/src/main/java/com/auth/auth/service/EmailService.java
  auth/src/main/java/com/auth/auth/utils/VerificationCodeGenerator.java
  auth/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  auth/src/main/resources/application.properties
  auth/src/main/resources/templates/reset-password-template.html
Labels: auth-service

#8 Feature/cart service
  cart/pom.xml
  cart/src/main/java/com/cart/cart/CartApplication.java
  cart/src/main/java/com/cart/cart/config/ModelMapperConfig.java
  cart/src/main/java/com/cart/cart/controller/CartController.java
  cart/src/main/java/com/cart/cart/controller/CartItemController.java
  cart/src/main/java/com/cart/cart/dto/CartDTO.java
  cart/src/main/java/com/cart/cart/dto/CartItemDTO.java
  cart/src/main/java/com/cart/cart/model/Cart.java
  cart/src/main/java/com/cart/cart/model/CartItem.java
  cart/src/main/java/com/cart/cart/repo/CartItemRepo.java
  cart/src/main/java/com/cart/cart/repo/CartRepo.java
  cart/src/main/java/com/cart/cart/service/CartItemService.java
  cart/src/main/java/com/cart/cart/service/CartService.java
  cart/src/main/resources/application.properties
Labels: cart-service

#9 Feature/auth service
  auth/src/main/java/com/auth/auth/constants/Messages.java
  auth/src/main/java/com/auth/auth/controller/AuthController.java
  auth/src/main/java/com/auth/auth/controller/UserController.java
  auth/src/main/java/com/auth/auth/dto/ChangePasswordRequest.java
  auth/src/main/java/com/auth/auth/exception/UserNotFoundException.java
  auth/src/main/java/com/auth/auth/model/User.java
  auth/src/main/java/com/auth/auth/service/AuthService.java
  auth/src/main/java/com/auth/auth/service/UserManagerService.java
  auth/src/main/java/com/auth/auth/utils/ErrorHandler.java
  auth/src/main/resources/application.properties
Labels: auth-service
